/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
   /* This is the parent of the activity 1 boxes. */
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   grid-gap: 20px;

}
.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
} 

.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
} 

/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;

}
.red2 {
  width: 100px; 
  height: 100px; 
  background-color: red; 
  grid-column-start: 1;
  grid-row-end: 3;

} 
.green2 { 
  width: 100px; 
  height: 100px; 
  background-color: green; 
  grid-column-start: 2;
  grid-row-end: 4;
  
} 
.yellow2 {
  width: 100px; 
  height: 100px; 
  background-color: gold; 
  grid-column-start: 3;
  grid-row-end: 5;
} 
.blue2 {
  width: 100px; 
  height: 100px; 
  background-color: blue;
  grid-column-start: 4;
  grid-row-end: 6; 
} 
/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px, 500px;

}

.red3 {
  width: 200%; 
  height: 125px; 
  background-color: red; 
  grid-column: 1/6;
   
} 
.green3 {
  width: 475px; 
  height: 300px; 
  background-color: green;
  grid-column-end: 4;
  grid-column-start: 1;
  
} 
.yellow3 {
  width: 450px; 
  height: 300px; 
  background-color: gold; 
  grid-column-end: 7;
  grid-column-start: 4;
} 
.blue3 {
  width: 200%;
  height: 125px; 
  background-color: blue; 
  grid-column: 1/6;
} 
/* Activity 4 styles */ 
 .content4 {
  display: grid;
  grid-template-columns: 1fr, 3fr
  /* This is the parent of the activity 4 boxes. */

}
.red4 {
width: 100px; 
height: 100px; 
background-color: red;
}
.green4 {
width: 100px; 
height: 100px; 
background-color: green; 
} 
.yellow4 {
width: 100px; 
height: 100px; 
background-color: gold; 
} 
.blue4 {
width: 100px; 
height: 100px; 
background-color: blue; 
} 

/* Activity 5 styles */ 
.content5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px, 500px;
  /* This is the parent of the activity 5 boxes. */
  height: 400px;
}
.red5 { 
  width: 200%; 
  height: 125%; 
  background-color: red; 
  grid-column: 1/6;
} 
.green5 { 
  width: 100px; 
  height: 100px; 
  background-color: green; 

} 
.yellow5 {
  width: 100px; 
  height: 100px; 
  background-color: gold; 

} 
.blue5 {
  width: 200%; 
  height: 125%; 
  background-color: blue;  
  grid-column: 1/6;
} 
/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
}
.red6 {
  width: 100px; 
  height: 100px; 
  background-color: red; 
} 
.green6 {
  width: 100px; 
  height: 100px; 
  background-color: green; 
} 
.yellow6 {
  width: 100px; 
  height: 100px; 
  background-color: gold; 
} 
.blue6 {
  width: 100px; 
  height: 100px; 
  background-color: blue; 
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}