
#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;

}
#background {
    height: 725px;
    background-color: black;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}   
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: black;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

body {
    background-color: #E4C7BB;
}
header {
    background-color: #622D3A;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.book, .join {
    background-color: black; 
    color: #E4C7BB;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: black;
    color: #E4C7BB;
}
.msg {
    background-color: black;
}
footer {
  background-color: #622D3A;
    color: #E4C7BB;
}
footer a {
    color: #E4C7BB;
    text-decoration: none;
}
footer a:hover {
    color: #E4C7BB;
}
.home-title {
    color: #d9c2a3;
}
h4 {
    color: #d9c2a3;
}
.msg h2 {
    color: #d9c2a3;
}
.msg p {
    color: #d9c2a3;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p a:hover {
    text-decoration: underline;
}


