
#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;

}
#background {
    height: 725px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 100px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}   
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: black;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

body {
    background-color: #E4C7BB;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #622D3A;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.book, .join {
    background-color: black; 
    color: #E4C7BB;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: black;
    color: #E4C7BB;
}
.msg {
    background-color: black;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 100px;
}
footer {
    background-color: #622D3A;
    color: #E4C7BB;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #E4C7BB;
    text-decoration: none;
}
footer a:hover {
    color: #E4C7BB;
}

h4 {
    color: #d9c2a3;
}
.msg h2 {
    color: #d9c2a3;
    font-family: 'Roboto', 'Helvetica', 'sans-serif'; 
}
.msg p {
    color: #d9c2a3;
    font-family:'Roboto', 'Helvetica', 'sans-serif'; 
    font-size: .8em; 
    padding-bottom: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p a:hover {
    text-decoration: underline;
}

.home-title {
    color: #d9c2a3;
    font-family: 'Roboto', 'Helvetica', 'sans-serif'; 
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rivers-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #352510
}
main section img {
    box-sizing: border-box;
}
