body {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo {
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
}
.ski {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px; 
    width: 100%;
    background-color: white;
}
.ski h1, h2, button-box {
    text-align: center;
}
.ski-img {
    width: 5%;
    margin-left: auto;
    margin-right: auto;  
}

.button-box {
    text-align: center;
}
.home-grid {
    position : relative;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.home-text {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: white;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}
#rainier h1, h2 {
    text-align: center;

}
.fixed-header, .fixed-footer{
    width: 100%;
    position: flex;        
    background: pink;
    padding: 10px 0;
    color: black;
}
.fixed-header{
    background-color: pink;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 5%;
    margin: 0;
    padding: 0;
}
.fixed-footer {
    bottom: 0;
    background-color: pink;
    position: flex;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;            
}  
.fixed-header a {
    color: black;
    text-decoration: none;

}
.fixed-footer a {
    color: black;
    text-decoration: none;

}
.fixed-header a:hover {
    color: green;
    text-decoration: underline;
}
.fixed-footer a:hover {
    color: green;
    text-decoration: underline;
    
}
.fixed-footer p {
    font-size: 1.5em;

}
.social img {
    padding-top: 15px;
}
/* Some more styles to beutify this example */
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
