body {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo {
    width: 175px;
    padding-left: 5px;
    padding-top: 5px;
}
.h1, h2 {
    font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
}
.h3, h4, p {
    font-family: "Open Sans", "Trebuchet MS", "Helvetica", "sans-serif";
}
.ski {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px; 
    width: 100%;
    background-color: #FFFEFC;
}
.ski h1, h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
.ski-img {
    width: 5%;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 30px;
}
.container {
    color: black;
    text-align:inherit;
}
.button-box {
    text-align: center;
}

.button {
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    background: #909c5c;
    color: black;
    padding: 25px 25px;
    text-decoration: none;
}

.button-box {
    display: inline-block;
    font-size: xx-large;
    background: #909c5c;
    color: black;
    padding: 25px 25px;
    text-decoration:solid;
}
.book:hover, .learn:hover {
    background-color: black;
    color: #FFFEFC;    
}
.lesson-grid {
    position: relative;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size:xx-large;
}
.lesson-img {
    width: 100%;
    height: 5%;
}
.home-grid {
    position : relative;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.home-text, .lesson-text {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #909C5C;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}
#snow h1, h3 {
    text-align: center;
    font-size:xx-large;

}
.infor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #354b6b;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.infor-img {
    width: 100%;
    height: 50%;
    transition: transform .10s;
    box-shadow: 10px 10px 10px #628caf;
}  
.ski1-card {
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 30px;
    
}
.ski2-card {
    grid-column: 2/4;
    grid-row: 1/4;
    padding: 30px;
    
}
.rental {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #354b6b;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}
.rental h2 {
    text-align: center;
}
   

.lesson1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.lesson2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.lesson3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.lesson4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.fixed-header, .footer {
    width: 100%;
    position: relative;        
    background: #628caf;
    padding: 10px 0;
    color: black;
}
footer {
    width: 100%;
    position: relative;      
    background: #628caf;
    padding: 10px 0;
    color: black;
}
.fixed-header{
    background-color: #628caf;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 25px 50px;
    margin: 0;
}
footer {
    bottom: 0;
    background-color: #628caf;
    position: static;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;            
}  
.fixed-header a {
    color: black;
    text-decoration: none;

}
footer a {
    color: black;
    text-decoration: none;

}
.fixed-header a:hover {
    color: #354B6D;
    text-decoration: underline;
}
footer a:hover, button, button.box  {
    color: #354B6D;
    text-decoration: underline;
    
}
footer p {
    font-size: 1.5em;

}
.social img {
    padding-top: 15px;
}
/* Some more styles to beutify this example */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
} 
form {
   /* Center the form on the page */
   margin: 0 auto;
   width: 400px;
   /* Form outline */
   padding: 1em;
   border: 1px solid #ccc;
   border-radius: 1em;
 }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 form li + li {
   margin-top: 1em;
 }
 
 label {
   /* Uniform size & alignment */
   display: inline-block;
   width: 90px;
   text-align: right;
 }
 
 input,
 textarea {
   /* To make sure that all text fields have the same font settings
      By default, textareas have a monospace font */
   font: 1em sans-serif;
 
   /* Uniform text field size */
   width: 400px;
   box-sizing: border-box;
 
   /* Match form field borders */
   border: 2px solid #999;
 }
 
 input:focus,
 textarea:focus {
   /* Additional highlight for focused elements */
   border-color: #000;
 }
 
 textarea {
   /* Align multiline text fields with their labels */
   vertical-align: top;
 
   /* Provide space to type some text */
   height: 10em;
 }
 
 .button {
   /* Align buttons with the text fields */
   padding-left: 90px; /* same size as the label elements */
 }
 
 button {
   /* This extra margin represent roughly the same space as the space
      between the labels and their text fields */
   margin-left: 0.5em;
 }
 
 













